@import url(/src/styles/1-base/2-general.css);

.skills__section {
    display: flex;
    justify-content: space-between;
    padding-right: 1.5rem;
    padding-bottom: 10rem;
}

.skills__list {
    text-align: right;
}

.skills__item {
    padding-bottom: 1.5rem;
}

@media (min-width: 28em) {
    .skills__section {
        padding-bottom: 4rem;
    }

    .skills__subtitle {
        font-size: 2.7rem;
    }

    .skills__item {
        font-size: 1.7rem;
        margin-bottom: 1.3rem;
    }
}

@media (min-width: 37.5em) {
    .skills__subtitle {
        font-size: 3.2rem;
    }
    
    .skills__item {
        font-size: 2.3rem;
    }
}