@import url(/src/styles/1-base/2-general.css);

.main__contact {
    text-align: center;
}

.contact__text {
    padding: 2rem 0;
}

.contact__status {
    background-color: var(--grey);
    width: 80%;
    margin: auto;
}

.status__title {
    font-size: 2.7rem;
    padding-top: 1.5rem;
}

.status__availability {
    font-size: 3.7rem;
    color: var(--blue);
    padding: 1.2rem 0;
}

.status__text {
    font-size: 1.7rem;
    margin-top: 1rem;
    padding-bottom: 4.5rem;
}

.contact__form label {
    display: none;
}

.form__name input {
    background-color: var(--grey);
    height: 5rem;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
}

.form__email input {
    background-color: var(--grey);
    height: 5rem;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
}

.form__text textarea {
    background-color: var(--grey);
    height: 15rem;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
}

.form__submit input {
    border: 0px solid;
    cursor: pointer;
    border-radius: 7rem;
    background-color: var(--blue);
    padding: 1.5rem 3rem;
    margin-bottom: 2rem;
    color: var(--white);
}