/* Import */

@import url(/src/styles/1-base/2-general.css);

/* Main */

.main__intro {
  background-color: var(--white);
  text-align: center;
  padding-top: 20rem;
  height: 75vh;
}

.intro__title {
   font-size: 4.2rem;
   font-weight: 900;
}

.intro__text {
  font-size: 1.8rem;
  padding-top: 5rem;
  padding-bottom: 8.5rem;
  color: var(--blue);
}

.intro__button {
  border: 0px solid;
  cursor: pointer;
  border-radius: 7rem;
  color: var(--white);
  background-color: var(--blue);
  padding: 1.5rem 3rem;
}