@import url(/src/styles/1-base/2-general.css);

.main__projects {
    text-align: center;
}

.project__section {
    width: 90%;
    margin: 2rem auto auto;
    border: solid var(--blue) 0.4rem;
    border-radius: 2rem;
}

.project__title {
    font-size: 2.3rem;
    padding-bottom: 2rem;
}

.project__text {
    padding: 2rem 0;
}

.project__buttons {
    cursor: pointer;
}

.project__link {
    border: 0px solid;
    border-radius: 7rem;
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    display: inline-block;
    margin: auto auto 2rem;
}

.project__link:hover {
    background-color: var(--white);
    color: var(--blue);
    padding: 1.5rem 2.2rem;
    border-width: 0.7rem;
}

.project__link:focus {
    background-color: var(--white);
    color: var(--blue);
    padding: 1.5rem 2.2rem;
    border-width: 0.7rem;
}

.project__link img{
    width: 2rem;
}

@media (min-width: 28em) {
    .project__title {
        font-size: 2.7rem;
    }
}